body{
background: url('https://i.pinimg.com/564x/06/7d/fb/067dfb4efe61a0279fc09bf9b108ab25.jpg')no-repeat center top !Important;
background-size: cover!Important;
height: 100vh!Important;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-webkit-flex-direction: column;
-ms-flex-direction: column;
flex-direction: column; 
}    