table, td, th {    
    border: 6px solid #fff;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 6px;
}

th{
	background:#D13C3C;
	color:#FFF;
}